/* This is the css for the main chess board in game_page */
body {
  background-color: Wheat;
}
table{
  border: 10px solid;
  margin: auto;
  width: 70%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
tr{
  margin: 10px;
  width: 800px;
}
th{
  margin: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
}
.white_space{
  background-color: white;
}
.black_space{
  background-color: black;
}
.black {
  color: green;
  font-size: 550%
}
.white {
  color: blue;
  font-size: 550%
}
hr{
  border: 7px solid #21fbfb;
  border-radius: 8px;
}
.gameInfoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameInfoDiv {
  text-align: center;
}
div {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}
