
{% load static %}

<html>
  <head>
    <title>Landing page for the website</title>
    <link rel="stylesheet" href="{% static 'MainSite/main_page.css' %}">
  </head>

  <h1>This is the Main page for 4X Chess</h1>

  <hr>
  <br>

  <div class="links">
  <a href="game_page/">Play Now!</a>
  </div>

  <br>
  <hr>
  <br>

  <div class="links">
  <a href="account_creation/">Create an Account Here</a>
  </div> 

  <br>
  <hr>
  <br>

  <div class="links">
  <a href="account_login/">Login Here</a>
  </div> 

  <br>
  <hr>
  <br>
</html>
